
.webview-grid {
  box-sizing: border-box;
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;

  .webview-grid-rows{
    display: table-row;
  }

  .webview-grid-cols {
    border: 1px solid red;
    width: 100%;
    display: table-cell;
  }
}
